---
layout: page
title: IWMW17 Sketchnotes
homepage: true
---


<img src="/images/iwmw17/iwmw17-intro.png" />

# Concepts that came up

Downing effect
Netflix simian army
Black swan events
Anti fragile
User cards
Edwin service road map
St. Andrews service manual
Headless CMS https://css-tricks.com/what-is-a-headless-cms/
https://t.co/QBfHdfdDKL Edinburgh blog
CMA - not much
Xcr-cap
Open search
Schema.org
Funnelback search stores api response
Definition of a durable medium
Professional services. Simple name change.
UCAS innovation
Who went to what masterclass - some way of talking
Match chancellor to uni quiz
The life academic illustrated
How a university works.
Edinburgh gel
Bloom sigma 2

<section>
  {% assign sorted = (site.tags.iwmw17 | sort: 'date') %}
	{% for post in sorted%}
	{% include panel.html %}
	{% endfor %}

</section>
