---
layout: page
title: Read in 2017
published: true
sitemap: false
---

<h2>Read in 2017</h2>


<ol reversed class="watched">
	{% assign sorted = site.data.books.books2017 | reverse %} {% for book in sorted %}
	<li>


		<strong>{{ book.title }}</strong>
		<em>{{ book.author_1 }}</em> Finished: {{ book.date_finished | date: "%b %-d" }} {% if book.amazon_link != null %}
		<a href="{{ book.amazon_link }}">Amazon</a>{% endif %} {% if book.notes %}
		<p>
			{{ book.notes }}
		</p>
		{% endif %} {% if book.biblio %}
		<a href="{{ book.biblio }}">More Info</a>{% endif %}

	</li>
	{% endfor %}

</ol>


