---
layout: page
title: Out of Time by Miranda Sawyer
sitemap: false
meta: 
        - bilbliography
        - Out of times
        - Miranda Sawyer
---

Enjoyed the book but was a bit disappointed that it didn't have a bibliography, so I thought I would write one up.
<ul>
    
        {% assign sorted = site.data.books.outoftime %}
        {% for book in sorted %}
        <li>
    
                <strong>{{ book.title }}</strong> <em>{{ book.author_1 }}</em>
                {% if book.amazon_url != null %}<a href="{{ book.amazon_url }}">Amazon</a>{% endif %}

        </li>
        {% endfor %}
    
    </ul>


    