---
layout: book
title: Read in 2024
published: true
sitemap: true
---

<h1>Read in 2024</h1>

<p>There were a few fairly chunky books this year. </p>

<p>You can see what I thought under each one, but looking back I'd forgotten how many good ones there were. Plenty of good fiction got consumed too.</p>

<ol class="watched">
	{% assign beans = site.data.books.books2024 | reverse %}
		{% for item in beans %}



		<li>
			<strong>
		
				{{ item.booktitle }}
		
			{% if item.Subtitle %}
			: {{ item.Subtitle }}
			{% endif %}
			</strong>
			<em>{{ item.author }}</em> <br />{{ item.status }}
			{% if item.notes %}
			{{ item.notes }}
			{% endif %}
		</li>
		{% endfor %}
</ol>
