@import "bootstrap";
@import "variables.less";

body { padding-top: 70px; }

.main{
	.container;
}

//about me page

span.me{
	.text-hide();
	background-image: url("/images/about/break-glass.gif");
	background-repeat: no-repeat;
	height: 150px; 
	display:block;
}

.extra{
	background-color: @gray-dark;
	border: 1px solid @gray-dark;
}

.content{
	img{
		.img-responsive;
	}
}

/*.navbar-brand{
	.text-hide();
	background-image: url("/img/mearso-pen.gif");
	background-repeat: no-repeat;
	height: 90px; 
	width: 500px;
	.center-block();

}*/

body{
background-image: url("/img/pattern-white-grey.gif"); 
}


section{
	.make-xs-column(6);
	.make-sm-column(4);
	.make-md-column(3);
}
// mixins for different viewport sizes


article,{
	.make-xs-column(12);
	background-color: white;
}

.media{
	border-bottom: 1px solid @gray-lighter;

}


@panel-yellow-text:#333;
@panel-yellow-heading-bg: #F0D343;
@panel-yellow-border: #F0D343;

.panel{
	min-height: 14em;
	.box-shadow(2px 2px 4px rgba(0,0,0,0.8));
	position: relative;
	background-color: @gray-dark;
	h2	{
		position: absolute;
		bottom:0;
		a{	
		line-height: @line-height-base;
		display: block;
		color:white;
		padding: 0.5em;
		&:hover{
			color: @brand-primary;
			}
		}
	}
}


.panel-title{
	font-size:@font-size-base * 1.4;
	font-weight: 300;
	background-color: @gray-dark;
}

.tagline{
	.text-warning;
	.small;
}

.img-circle{
	border:2px solid @gray-dark;
}

