---
layout: book
title: Read in 2018
published: true
sitemap: true
---

<h2>Read in 2018</h2>


<ol class="watched">
	{% assign sorted = site.data.books.books2018 %}
	
	{% for book in sorted %}
	<li>
	
	
		<strong>{{ book.title }}</strong>
		<em>{{ book.author_1 }}</em>
		{% if book.amazon_link != null %}
		<a href="{{ book.amazon_link }}">Amazon</a>{% endif %} {% if book.notes %}
		<p>
			{{ book.notes }}
		
		{% endif %} {% if book.biblio %}
		<a href="{{ book.biblio }}">More Info</a>{% endif %}
	
	</li>
	{% endfor %}

</ol>


