---
layout: default
title: Kevin Mears - I like to draw.

---

<div class="row">
	{% for post in site.posts %}
		{% if post.invisible != 1  %}
		<section>
		  	<div class="panel">
				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/images/{{ post.image-thumb }}" class="img-responsive"></a>
				<h2 class="panel-title media-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

			</div>
		</section>
		{% endif %}
	{% endfor %}
		
</div>


{# {% for category in site.categories %} #}
{# 	<div class="row"> #}
{# 	 #}
{# 	  <h1>{{ category | first }}</h1> #}
{# 	    {% for posts in category %} #}
{# 				{% for post in posts %} #}
{# 					{% if post.url %}  #}
{# 				 #}
{# 						{% if post.invisible != 1 %} #}
{# 				 #}
{# 							<section> #}
{# 								<div class="panel"> #}
{# 									<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/images/{{ post.image-thumb }}" class="img-responsive"></a> #}
{# 									<h2 class="panel-title media-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2> #}
{# 								</div> #}
{# 							</section> #}
{# 							 #}
{# 						{% endif %} #}
{# 				 #}
{# 					{% endif %} #}
{# 				 #}
{# 				{% endfor %} #}
{# 		 #}
{# 	    {% endfor %} #}
{# 	</div> #}
{# {% endfor %} #}



