---
layout: default
meta: A collection of logo reviews by tags
title: Tag list
sitemap: false
---

<p>
  A list of the tags currently in use, and how many posts in each
</p>

<ul class="tags">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

  <li><a href="{{t | downcase | replace:" ","-"  }}">{{t | downcase | replace:" ","-" }}</a> has {{ posts | size }} posts</li

    <h3>{{ posts[2].category }}</h3>
{% endfor %}
</ul>

<p>{{ site.tags }}</p>



<h3>Tags in use in logospotter collection
</h3>

{% assign tags =  site.logospotter | map: 'tags' | join: ','  | split: ',' | uniq %}

{% for tag in tags %}
{% assign t = tag | first %}
{% assign site.logospotter.posts = tag | last %}
<li><a href="{{t | downcase | replace:" ","-"  }}">{{t | downcase | replace:" ","-" }}</a> has {{ site.logospotter.posts | size }} posts</li>

  <a href="{{ tag }}">{{ tag }}</a>
{% endfor %}
