---
layout: page
title: Speakers

---

<div class="row">
  
  {% for bio in site.data.speakers %}
    <article class="biogs">
           
        <div class="meta">
          <h2>{{ bio.name }}</h2>
          
          {% if bio.twitter %}
            <p><a href="{{ bio.twitter }}">Twitter</a></p>
          {% endif %}
          {% if bio.url %}
            <p><a href="{{ bio.url }}">Website</a></p>
          {% endif %}
          
        </div>
        
        {% for talk in site.data.events %}
          {% if bio.id == talk.speaker %}
          <h3>{{ talk.title }}</h3>
          <ul>
            <li>Talk Info <a href="http://{{ talk.info}}">{{ talk.info }}</a></li>
            <li><a href="{{ talk.sketchnotes }}">Sketchnotes</a></li>
            
            {% if talk.resources %}
            <li>Talk Resources <a href="http://{{ talk.resources }}">{{ talk.resources }}</a></li>
            {% endif %}
            
          </ul>
          {% endif %}
        {% endfor %}
        

    </article>

  {% endfor %}	

</div>




