---
layout: speakers
title: Speakers

---

<div class="row">
  <p>I've collected a (long) list of speakers whose talks, videos, audio , lectures and presentations that I've done sketchnotes for, sorted by year. Play around with the table and the search to find what your'e looking for. For any errors, omissions or changes <a href="https://www.twitter.com/@mearso">Twitter is probably your best bet.</a></p>

</div>




<div class="row">
  <table id="speakertable" class="row-border" cellspacing="0" width="100%">
    <thead>
        <tr>
          <th>Name <em>(and link to twitter)</em></th>
          <th>Sketchnotes</th>
          <th>Type</th>
          <th>Year</th>
        </tr>
    </thead>

    <tbody>
      {% for speaker in site.data.speakers %}
        {% for event in site.data.events %}
          {% if event.speaker != empty %}
            {% for multiple in event.speaker %}
              {% if speaker.id == multiple %}
              <tr>
                <td>
                    {{ speaker.name }}
                    {% if speaker.twitter %}
                       (<a href="https://twitter.com/@{{ speaker.twitter }}">{{ speaker.twitter }}</a>)
                    {% endif %}
                  </ul>


                </td>
                <td><a href="..{{ event.sketchnotes }}">{{ event.title }}</a></td>
                <td>{{ event.type }}</td>
                <td>{{ event.date | date: "%Y" }}</td>
              </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
