---
layout: default
meta: A collection of logo reviews
invisible: 1
---

<div class="home">

<p>A collection of reviews and information about logos used by UK Universities. I thought it would be interesting, educational and enjoyable to gather examples and research a little more about the logos and the particular demands of designing for this sector.
	Turns out, it took way longer than I thought</p>


<ul class="taglist">
	{% assign sorted_pages = (site.logospotter | sort: 'id') %}
	{% for review in sorted_pages %}
	{% if review.invisible == null %}


	<li>
		<a href="{{ review.url }}" class="img">
			<img src="/images/logospotter/thumbs/{{ review.image}}" alt="logo thumbnail" />
		</a>
	</li>
	{% endif %}

	{% endfor %}

</ul>



</div>


<p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>

</div>
