@charset "UTF-8";

:root {

    /* Font Sizes */
    --size-sm: clamp(1rem, .925rem + .25vw, 1.125rem); 
    --size-md: clamp(1.25rem, 1.1rem + .5vw, 1.5rem);   
    --size-lg: clamp(1.5rem, 1.2rem + 1vw, 2rem);     
    --size-xl: clamp(2rem, 1.4rem + 2vw, 3rem);     
    --size-xxl: clamp(2.5rem, .925rem + 5.25vw, 5.125rem);
    
     /* Spacing */
    --space-sm: 1.25rem; 
    --space-md: 1.5rem;  
    --space-lg: 3rem;    
    --space-sm-md: clamp(1.25rem, 1.1rem + .5vw, 1.5rem); 
    --space-md-lg: clamp(1.5rem, .6rem + 3vw, 3rem); 
    --space-lg-xl: clamp(3rem, 1.8rem + 4vw, 5rem);  

    /* Layout */
    --site-gutter: clamp(16px, -80.4px + 18.25vw, 170px); 
    --site-offset: 0px; /* Initial top offset for the site */

    /* Typography Variables */
    --font-family: Inter, sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --line-height: 1.5;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* Enables common ligatures and contextual alternates for better typography */
}

@media (min-width: 1280px) {
    :root {
        --site-offset: clamp(1px, -311px + 24.375vw, 40px)
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:before,
:after {
    box-sizing: border-box
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

iframe {
    width: 100%;
    border: 0
}

img,
video {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    margin-bottom: 1rem;
}

img {
    border:4px solid #fff;
}

img.full {
    width:100%
}

em::before {
    /*content: "- ";  Add a dash followed by a space for separation */
  }

em{
    font-weight: 300;
}



a,
button,
[type=button] {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer
}

button,
[type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    color: inherit;
    font: inherit
}

label[for] {
    cursor: pointer
}

.no-list,
nav ul {
    margin: 0;
    padding: 0;
    list-style: none
}

input {
    font: inherit
}

legend {
    display: table
}

fieldset {
    border: 0;
    min-width: 0
}

textarea {
    resize: vertical
}


:disabled {
    opacity: .5
}


body {
    font-size: clamp(1.125rem, 1rem + .25vw, 1.25rem);
    line-height: 1.5;
}

h1:not(:first-child) {
    margin-top: 1em
}

h2:not(:first-child) {
    margin-top: 1em
}

h3:not(:first-child) {
    margin-top: 1em
}

h4:not(:first-child) {
    margin-top: 1em
}

h5:not(:first-child) {
    margin-top: 1em
}

h6:not(:first-child) {
    margin-top: 1em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: .3em
}

h1 {
    font-size: clamp(2.5rem, .925rem + 5.25vw, 5.125rem);
    font-size: var(--size-xl);
    letter-spacing: -.02em;
    margin-bottom: .6em
}

h2 {
    font-size: clamp(2rem, 1.4rem + 2vw, 3rem);
    font-size: var(--size-lg);
    letter-spacing: -.01em
}

h3 {
    font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    font-size: var(--size-md)
}

h4,
h5,
h6 {
    font-size: clamp(1.25rem, 1.1rem + .5vw, 1.5rem);
    font-size: var(--size-md);
    line-height: 1.2;
    font-weight: 500
}

/* p,
li {
    letter-spacing: .02em
} */

.watched li {
    margin-top: 0.5em;
  }

p,
ol,
ul {
    margin-bottom: 0.5em;

}

p img {
    width: 100%;
    margin: 1.5em 0;
    display: block
}

ol {
    padding-left: 1.125em
}

ul {
    padding-left: 1em
}

.unlist {
    list-style: none;
    padding-left: 0
}

.meta,
strong {
    font-weight: 600
}

a {
    font-weight: 600;
    color: #00599f;
    color: var(--link-color, #00599f)
}

a:hover {
    -webkit-text-decoration: none;
    text-decoration: none
}

hr {
    border: 0;
    border-top: 1px solid #494848
}

.summary {
    font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    font-size: var(--size-lg);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: .02em
}

/* style for figure element */

figure {
    margin: 0 0 0 0;
    padding: 0;
  }
  figcaption {
    font-style: italic;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }


h1~p:first-of-type:not(blockquote+p) {
    font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    font-size: var(--size-md);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: .02em
}

h1~p:first-of-type:not(blockquote+p) {
    margin-bottom: var(--space-md-lg)
}

h1~p:first-of-type:not(blockquote+p)+p.media {
    margin-top: calc(clamp(3rem, 1.8rem + 4vw, 5rem) * -1 / 3);
    margin-top: calc(var(--space-md-lg) * -1 / 3)
}

h1 ~ p:first-of-type.postinfo {
    font-size: var(--size-sm)
  }

p.media+p:not(.media) {
    margin-top: calc(clamp(3rem, 1.8rem + 4vw, 5rem) * 2 / 3);
    margin-top: calc(var(--space-lg-xl) * 2 / 3)
}


/* Quotes */
blockquote {
    font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    font-size: var(--size-md);
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: .02em;
    padding: .5rem 1rem;
    margin: .8rem 0;
    border-left: .25rem solid #666;
  }
  blockquote p:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 30em) {
    blockquote {
      padding-right: 5rem;
      padding-left: 1.25rem;
    }
  }



blockquote {
    margin: 1.5em 0;
    --content-wrap: 27ch
}

blockquote:before {
    content: "“";
    position: absolute;
    margin-left: -.5em
}

blockquote:after,
blockquote>:last-child:after {
    content: "”"
}

blockquote:has(:last-child):after {
    content: none
}

body {
    background: #DEDEDE;
    color: #000
}

#wrapper {
   /*  background: #fff; */
    margin: 0 auto auto;
    padding: 1px clamp(16px, -76.4px + 19.25vw, 170px);
    padding: 1px var(--site-gutter);
    max-width: 80rem;
    margin-top: var(--site-offset)
}

main>* {
    margin: clamp(3rem, 1.8rem + 4vw, 5rem) 0;
    margin: var(--space-sm-md) 0
}

main>:last-child[data-block-flush] {
    margin-bottom: 0
}

.commons p:first-of-type {
    margin-top:1rem
  }
  

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5% 0 4%;
    border-bottom: 1px solid #000000
}

@media (min-width: 70em) {
    .header {
        padding: 2em 0 1.1em
    }

    .header .branding~* {
        display: none
    }
}

.header a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none
}

.header .branding {
    width: 80%;
    min-width: 105px;
    margin-right: auto
}

.header .branding~* {
    margin-left: 1em
}

.footer {

    font-size: clamp(1rem, .85rem + .5vw, 1.25rem)
}

.related{
    border-top: 1px solid #333333;
    padding-top: var(--space-md-lg) 0;
    margin-top: 2rem;
    padding-top: 1.5rem
}


.footer .branding{
    width: 10.625em;
    margin: 2em 0;
    display: block
}

.navigation {
    display: none
}

.has-nav .navigation,
.js-loading .navigation:target {
    display: block
}

@media (min-width: 70em) {
    .navigation {
        display: block;
        z-index: 1000;
        position: relative
    }
}

.navigation-menu {
    border-bottom: 1px solid #515151
}


.navigation-menu li.is-active>a {
    font-weight: 600;
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.navigation-menu>li+li {
    border-top: 1px solid #515151
}

@media (min-width: 70em) {
    .navigation-menu>li+li {
        border-top: 0
    }
}

.navigation-menu>li>a {
    font-size: 1.25em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .4em 0
}


.navigation-menu ul {
    display: none;
    padding-bottom: .75em
}

.navigation-menu li.is-open ul {
    display: block
}

.navigation-menu li:focus-within ul {
    display: block
}

.navigation-menu ul li {
    margin: .3em 0
}

@media (min-width: 70em) {
    .navigation-menu {
        border-bottom: 0;
        font-size: 1rem;
        display: flex;
        align-items: center
    }

    .navigation-menu>li {
        margin: 0 1.7% 0 0
    }


    .navigation-menu>li:last-child {
        margin-right: 0
    }

    .navigation-menu>li>a {
        font-size: 1em;
        line-height: 1.1;
        padding: .875em 0
    }

    .navigation-menu>li>a>[data-menu-icon] {
        margin: .3em 0 0 .5em
    }


    .navigation-menu ul {
        line-height: 1.5;
        position: absolute;
        min-width: 15em;
        margin-left: -1em;
        padding: .5em 1em;
        border: 1px solid;
        background: #fff;
        box-shadow: -2px 4px 10px #0003
    }

    .navigation-menu li:hover ul {
        display: block
    }
}


.content>* {
    max-width: 43rem;
    max-width: var(--content-wrap, 43rem)
}

.sidebar {
    margin: clamp(1.5rem, .6rem + 3vw, 3rem) 0;
    margin: var(--space-md-lg) 0
}

@media (min-width: 45em) {
    .sidebar {
        float: right;
        width: 17.5rem;
        margin: 0 calc(clamp(16px, -76.4px + 19.25vw, 170px) * -1 / 3) 0 clamp(1.25rem, 1.1rem + .5vw, 1.5rem);
        margin: 0 calc(var(--site-gutter) * -1 / 3) 0 var(--space-sm-md)
    }

    .sidebar.box.offset {
        margin-top: -4%
    }
}

@media (min-width: 80em) {
    .sidebar {
        position: sticky;
        top: clamp(1.5rem, .6rem + 3vw, 3rem);
        top: var(--space-md-lg)
    }
}



.no-js [data-js-input] .input-file {
    display: none
}

.has-js [data-js-input] input {
    position: absolute;
    overflow: hidden;
    width: .1px;
    height: .1px;
    opacity: 0
}

.btn {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2;
    display: inline-block;
    padding: .75em 1em .875em;
    
    background: #000;
    background: var(--btn-color, transparent);
    border: 2px solid #000;
    color: #000;
    color: var(--btn-text, #000);
    text-align: center;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    min-width: min(12.5em, 100%);
    max-width: 100%;
    transition: .3s;
    transition-property: background, border, color
}

.btn:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    border-color: inherit;
    background: #fff;
    color: inherit
}

.btn-sm {
    min-width: min(8em, 100%)
}

.btn-alt {
    --btn-color: transparent;
    --btn-text: #000
}


.btns {
    gap: 1em;
    display: flex;
    flex-wrap: wrap
}

.btns .btn {
    min-width: 200px
}



.embed {
    --content-wrap: 100%;
    margin: 2em 0
}

.embed.has-ratio {
    position: relative
}

.embed.has-ratio:before {
    content: " ";
    display: block;
    padding-bottom: calc(100% / (1.7777777778));
    padding-bottom: calc(100% / (var(--ratio, 1.7777777778)))
}

.embed.has-ratio img,
.embed.has-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-width: none;
    max-height: none
}

table {
    width: 100%;
    margin: 2em 0;
    table-layout: auto;
    border-collapse: collapse
}

th,
td {
    padding: 1em .5em;
    text-align: left;
    font-weight: inherit;
    border-bottom: 2px solid;
    vertical-align: top
}

th>:last-child,
td>:last-child {
    margin: 0
}

tbody:first-child>tr:first-child>* {
    padding-top: 0
}

thead,
tfoot {
    font-weight: 700
}

thead {
    background: #e5e5e5
}

thead th,
thead td {
    border: 0
}


.pagination {
    border-top: 1px solid #e5e5e5;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between
}

.pagination>* {
    margin-top: 3rem
}

.pagination>[rel=prev],
.pagination>[data-prev] {
    margin-right: auto
}

.pagination>[data-next] {
    text-align: right
}

@media (min-width: 70em) {
    .pagination {
        flex-wrap: nowrap
    }
}

.has-js .hide-if-js,
.no-js .show-if-js {
    display: none
}


.sr-only {
    position: absolute;
    overflow: hidden;
    width: .1px;
    height: .1px;
    opacity: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap
}

.box {
    --link-color: currentColor;
    padding: 4% 3%;
    background: #e0f0fa
}

.box>:first-child,
.hug>:first-child {
    margin-top: 0
}

.box>:last-child,
.hug>:last-child {
    margin-bottom: 0
}

/* p img,
.drop-shadow {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .2))
} */

.no-border {
    border: 0
}

.mask-links a,
.mask-link {
    color: inherit;
    font-weight: inherit;
    -webkit-text-decoration: none;
    text-decoration: none
}

.mask-links a:hover,
.mask-link:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.bg-light {
    background: #e5e5e5
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.font-normal {
    font-weight: 400
}

.font-medium-bold {
    font-weight: 500
}

.font-bold {
    font-weight: 600
}

.font-extra-bold {
    font-weight: 700
}

.size-3\/4 {
    font-size: .75em
}

.size-sm {
    font-size: clamp(1rem, .925rem + .25vw, 1.125rem);
    font-size: var(--size-sm)
}

.size-md {
    font-size: clamp(1.25rem, 1.1rem + .5vw, 1.5rem);
    font-size: var(--size-md);
    line-height: 1.3
}

.size-lg {
    font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    font-size: var(--size-lg);
    line-height: 1.2
}

.size-xl {
    font-size: clamp(2rem, 1.4rem + 2vw, 3rem);
    font-size: var(--size-xl);
    line-height: 1.2
}

.size-xxl {
    font-size: var(--size-xx);
    line-height: 1.1
}

.flow>* {
    margin: 0
}

.flow>*+* {
    margin-top: 1rem;
    margin-top: var(--flow, 1rem)
}

.flow-sm {
    --flow: var(--space-sm)
}

.flow-sm-md {
    --flow: var(--space-sm-md)
}

.flow-md {
    --flow: var(--space-md)
}

.space-sm-md-t,
.space-sm-md {
    margin-top: clamp(1.25rem, 1.1rem + .5vw, 1.5rem);
    margin-top: var(--space-sm-md)
}

.space-sm-md-b,
.space-sm-md {
    margin-bottom: clamp(1.25rem, 1.1rem + .5vw, 1.5rem);
    margin-bottom: var(--space-sm-md)
}

.space-md-lg-t,
.space-md-lg {
    margin-top: clamp(1.5rem, .6rem + 3vw, 3rem);
    margin-top: var(--space-md-lg)
}

.space-md-lg-b,
.space-md-lg {
    margin-bottom: clamp(1.5rem, .6rem + 3vw, 3rem);
    margin-bottom: var(--space-md-lg)
}

.space-lg-xl-t,
.space-lg-xl {
    margin-top: clamp(3rem, 1.8rem + 4vw, 5rem);
    margin-top: var(--space-lg-xl)
}

.space-lg-xl-b,
.space-lg-xl {
    margin-bottom: clamp(3rem, 1.8rem + 4vw, 5rem);
    margin-bottom: var(--space-lg-xl)
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}


[aria-busy=true] {
    position: relative
}

[aria-busy=true]:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5
}

[aria-busy=true]:after {
    content: " ";
    position: absolute;
    z-index: 1;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    width: 3em;
    height: 3em;
    border: .5em solid;
    border-radius: 100%;
    border-right-color: transparent;
    animation: spin 1s infinite
}