<nav>
    <ul class="nav navbar-nav">
    <li><a href="/reading/2011">Read in 2011</a></li>
    <li><a href="/reading/2012">Read in 2012</a></li>
    <li><a href="/reading/2013">Read in 2013</a></li>
    <li><a href="/reading/2014">Read in 2014</a></li>
    <li><a href="/reading/2015">Read in 2015</a></li>
    <li><a href="/reading/2016">Read in 2016</a></li>
    <li><a href="/reading/2017">Read in 2017</a></li>
    <li><a href="/reading/2018">Read in 2018</a></li>
    <li><a href="/reading/2019">Read in 2019</a></li>
    <li><a href="/reading/2020">Read in 2020</a></li>
    <li><a href="/reading/2021">Read in 2021</a></li>
    <li><a href="/reading/2022">Read in 2022</a></li>
    <li><a href="/reading/2023">Read in 2023</a></li>
    </ul>
</nav>
