<div class="panel panel-yellow">
    <div class="panel-heading">
	  <h3>Apply Now</h3>
	</div>
    <div class="panel-body">
	  Applying for a UHOVI course is easy as applications are all dealt with by UHOVI and our partners. This means that we're more flexible in terms of application dates and depending on the popularity of a course, you may be able to apply right up to the enrolment date.
	</div>
</div>

<div class="media panel panel-yellow">
  <a class="pull-left" href="#">
	 <img class="media-object" src="http://lorempixum.com/64/128/abstract/?r" alt="Example image"/>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
	  Applying for a UHOVI course is easy as applications are all dealt with by UHOVI and our partners. This means that we're more flexible in terms of application dates and depending on the popularity of a course, you may be able to apply right up to the enrolment date.
  </div>
</div>

<div class="panel panel-gray">
    <div class="panel-heading">
      <h3 class="panel-title">Entry Requirements</h3>
    </div>
    <div class="panel-body">
	Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>

<div class="panel panel-blue">
        <img src="http://lorempixum.com/120/60/abstract/?r" alt="">
    <div class="panel-heading">
      <h3 class="panel-title">Entry Requirements</h3>
    </div>
    <div class="panel-body">
  Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</div>