
<footer role="contentinfo">
  <div class="address">
    <p>University of South Wales<br />Pontypridd, Cardiff, Newport</p>
  </div>

  <div class="social">
    <h1>Follow us</h1>

    <div class='usw-icons'>
      <p><a href='http://www.facebook.com/universityofsouthwales' title='Visit us on facebook'> <i class='usw-icon-facebook'></i></a>
      <a href='http://twitter.com/unisouthwales' title='Follow our tweets'><i class='usw-icon-twitter'></i></a>
      <a href='/news/' title='Subscribe to our news'><i class='usw-icon-rss'></i></a>
      <a href='http://itunes.southwales.ac.uk' title='Subscribe in iTunes'><i class='usw-icon-apple'></i></a></p>
    </div>
      
  </div>

      <nav> 
        <ul class="one">
          
          <li><a href="/opendays/">Book an Open Day</a></li>
          
          <li><a href="/contact/">Contact Us</a></li>
          
          <li><a href="/staff/">Staff Directory</a></li>
          
          <li><a href="/login/">Staff/Student Login</a></li>
          
        </ul>
        
        <ul class="two">
          
          <li><a href="http://myfuture.southwales.ac.uk">Order a prospectus</a></li>
          
          <li><a href="/apply/">Apply now</a></li>
          
          <li><a href="http://uswinsight.blogs.southwales.ac.uk">USW Insight</a></li>
          
          <li><a href="/partnerships/">Partnerships</a></li>
          
        </ul>
          
        <ul class="three">
          
          <li><a href="/visiting/">How to find us</a></li>
          
          <li><a href="mailto:webfeedback@southwales.ac.uk">Web Feedback </a></li>
          
          <li><a href="/about/group/">University of South Wales Group</a></li>
          
          <li><a href="/alumni/">Alumni</a></li>
          
        </ul>
        
        <ul class="four">
          
          <li><a href="/privacy/">Privacy and Cookies</a></li>
          
          <li><a href="http://jobs.southwales.ac.uk">Jobs</a></li>
          
          <li><a href="http://lcss.glam.ac.uk/ig/foi/">Policies and FOI</a></li>
          
          <li><a href="/news/">News and Events</a></li>
          
        </ul>
      </nav>

                
      <p>&copy; University of South Wales. The University of South Wales is a registered charity. Registration No.1140312</p>


</footer>