<div class="wrapper">

  <header role="banner">

    <div class="branding">

      <a href="/" title="University Homepage">
        <img src="http://www.uhovi.ac.uk/media/images/uhoviLogo.png" alt="University of South Wales">
      </a>

      <h1 class="sitename"><a href="">Student Services Example of a Long Name</a></h1>
      
    </div><!--/branding-->

    <div class="header-tools">
      
      <form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul>
        <li><a href="#">Contact Us</a></li>
      </ul>

    </div><!--/header-tools-->

  </header>

</div><!--/wrapper-->

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get gro uped for better mobile display -->
  <div class="wrapper">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/courses/" >Courses</a></li>
        <li><a href="/styleguide/">Styleguide</a></li>
      </ul>
    </div>

  </div><!--/wrapper-->
</nav>