{% assign wordcount = include.content | number_of_words %}



<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ page.category }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"http://www.mearso.co.uk",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "about":"{{ page.image-caption }}",
   "dateModified":"{{ page.date }}",
   "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}",
   "author":{
              {% include JSON-person.html%}
            },
   "publisher":{
     "@type":"organization",
     "name":"Kevin Mears",
     "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/android-chrome-256x256.png",
        "width": "256px",
        "height": "256px"
      },
     "sameAs":[
       "https://twitter.com/{{ site.author.twitter }}",
       "https://plus.google.com/u/0/+kevinmears"
     ]
   },
   {% if page.image %}
   "image":{
      "@type":"ImageObject",
      "thumbnailUrl":"{{ site.url }}/images{{ page.image-thumb }}",
      "width":"400px",
      "height":"200px",
      "url":"{{ site.url }}/images{{ page.image-thumb }}"
   },
   {% endif %}
   "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ site.url }}{{ page.url }}"
  }
}
</script>
