<link rel="canonical" href="{{ site.author.url }}{{ page.url }}"/>
<meta property="og:site_name" content="{{ site.tagline }}"/>
<meta property="og:title" content="Sketchnotes"/>
<meta property="og:url" content="http://www.mearso.co.uk/"/>
<meta property="og:type" content="website"/>
<meta itemprop="name" content="{{ site.tagline }}"/>
<meta itemprop="url" content="http://www.mearso.co.uk/"/>

<!-- Twitter card info -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@mearso"/>
<meta name="twitter:title" content="{{ page.title | strip_html }}"/>
{% if page.meta %}
<meta name="twitter:description" content="{{ page.meta | strip_html }}">
{% else %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}"/>
{% endif %}
<meta name="twitter:image" content="{{ page.image }}"/>
<meta name="twitter:image:alt" content=""/>


<!-- plain old meta info  -->

<meta name="keywords" content="{{ page.tags | join: ', '  }}, {{ page.categories }}, {{ page.keywords | join: ', ' }}">

{% if page.meta  %}
  <meta name="description" content="{{ page.meta }}">
{% else %}
  <meta name="description" content="{{ page.excerpt | strip_html }} {{ page.tags[0]}}">
{% endif %}

<meta property="article:publisher" content="{{ site.author.url }}"/>
<meta property="article:tag" content="information design"/>
<meta property="article:tag" content="practical advice"/>
<meta property="article:tag" content="sketching"/>
<meta property="article:tag" content="sketchnotes"/>
<meta property="article:tag" content="visual note-taking"/>
<meta property="article:published_time" content="{{ page.date }}"/>
<meta property="og:updated_time" content="{{ page.updated }}"/>
