<link rel="canonical" href="http://www.mearso.co.uk/"/>
<meta property="og:site_name" content="{{ site.tagline }}"/>
<meta property="og:title" content="Sketchnotes"/>
<meta property="og:url" content="http://www.mearso.co.uk/"/>
<meta property="og:type" content="website"/>
<meta itemprop="name" content="{{ site.tagline }}"/>
<meta itemprop="url" content="http://www.mearso.co.uk/"/>

<!-- Twitter card info -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ page.excerpt | strip_html }}"/>
<meta name="twitter:site" content="http://www.mearso.co.uk/"/>
<meta name="twitter:image" content="{{ page.image }}"/>


<meta name="keywords" content="{{ page.tags | join: ', '  }}, {{ page.categories }}, {{ page.keywords | join: ', ' }}">

{% if page.meta  %}
  <meta name="description" content="{{ page.meta }}">
{% else %}
  <meta name="description" content="{{ page.excerpt | strip_html }} {{ page.tags[0]}}">
{% endif %}
