<nav class="navbar navbar-default">



            <ul class="nav navbar-nav">
                <li><a href="/">home</a></li>
                <li><a href="/about/">about me</a></li>
                <li><a href="/sketchnotes/">sketchnotes</a></li>
                <li><a href="/speakers/">speakers</a></li>
                <li><a href="/blog/">blog</a></li>
            </ul>

            <form class="navbar-form navbar-right" role="search" method="get" action="{{site.baseurl}}/search/">
                <div class="form-group">
                    <input id="searchString" name="searchString" type="text">
                    <button type="submit" class="btn btn-default" value="Search" name="googleSearchName">Search</button>
                </div>
            </form>


</nav>
