<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
          <a class="sidebar-nav-item" href="/">home</a>
          <a class="sidebar-nav-item" href="/about/">about me</a>
          <a class="sidebar-nav-item" href="/sketchnotes/">sketchnotes</a>
          <a class="sidebar-nav-item" href="/speakers/">speakers</a>
          <a class="sidebar-nav-item" href="/watched/">watched</a>
          <a class="sidebar-nav-item" href="/blog/">blog</a>
    </nav>

    <div class="social">
				<a href="http://twitter.com/mearso" title="Mearso on Twitter"><img width="50px" src="/img/twitter.svg" alt="Twitter"></a>
				<a href="http://instagram.com/mearso"><img src="/img/Instagram.svg" alt="Instagram"></a>
			</div>

      <form class="navbar-form" role="search" method="get" action="{{site.baseurl}}/search/">
          <div class="form-group">
              <input id="searchString" name="searchString" type="text">
              <button type="submit" class="btn btn-default" value="Search" name="googleSearchName">SEARCH</button>
          </div>
      </form>

  </div>
</div>
