---
layout: page
title: Watched in 2018
published: false
sitemap: false
---

<h2>Watched in 2018</h2>


<ol reversed class="watched">
	{% assign sorted = site.data.films2018 | reverse %}
	{% for film in sorted %}
		<li>
			<em>{{ film.watched | date: "%b %-d" }} </em> - <strong>{{ film.title }}</strong> {% if film.notes %}
			<br> {{ film.notes }} {% endif %}
			<br>
			<a href="https://www.themoviedb.org/movie/{{ film.tmdb_id }}">Lookup on The Movie Database</a>
		</li>
	{% endfor %}

</ol>

{% include films.html %}
