

.biogs{
  border-top:1px solid gray;
  .meta{
  	@include make-sm-column(12);
  	@include make-md-column(4);
  }

  h2{
  	font-size:$font-size-base * 1.4;
  	font-weight: 300;
    margin-top:10px;
    
  }
  
  .bio-talks{
    ul{
      margin-top:20px;
    }
  	@include make-sm-column(12);
  	@include make-md-column(8);
    @extend .nav;
  }
}