.panel{
	min-height: 15em;
	@include box-shadow(2px 2px 4px rgba(0,0,0,0.8));
	position: relative;
	background-color: $gray-dark;
	.panel-body{
		padding:0;
	}
	h2	{
		position: absolute;
		bottom:0;
		a{
			color:white;
		line-height: $line-height-base;
		display: block;
		padding: 0.5em;
		&:hover{
			color: $brand-primary;
			}
		}
	}
}


.panel-title{
	font-size:$font-size-base * 1.4;
	font-weight: 300;
	background-color: $gray-dark;
}

