$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "variables";
//@import "font-awesome";
@import "custom-bootstrap";
@import "cards";
//@import "weeknotes";
//@import "related";
//@import "speakers";

// body {
// 	// padding-top: 70px;
// 	background-image: url("/img/pattern-white-grey.gif");
// 	}


// .content{
// 	@extend .container;
// 	img{
// 		@include img-responsive;
// 	}
// }


// section{
// 	@include make-xs-column(12);
// 	@include make-sm-column(4);
// 	@include make-md-column(3);
// 	img{
// 		@include size (100%, 100%)
// 	}
//
// }
// mixins for different viewport sizes
//
// article{
// 	@include make-xs-column(12);
// 	background-color: white;
//   margin-bottom: 1em;
//   padding-bottom: 1em;
//   ul{
//     @extend .list-unstyled !optional;
//   }
// }
//

	.bio-meta > ul, .event-meta > ul{
		padding-left: 0;
		list-style: none;
	}


// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
// // blog page layout
//
// .blogposts{
// 		@include make-md-column(8);
// 		background-color: white;
// 	}
//
// 	aside.taglist {
// 		@include make-md-column(4);
// 		background-color: white;
// 	}
//
// caption{
// 	margin-bottom: 2em;
// 	color:tomato;
// }
