$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "variables";
@import "bootstrap";

@import "cards";

body { padding-top: 70px; }

body{
background-image: url("/img/pattern-white-grey.gif"); 
}


//about me page

span.me{
	@include text-hide;
	background-image: url("/images/about/break-glass.gif");
	background-repeat: no-repeat;
	height: 150px; 
	display:block;
}

.extra{
	background-color: $gray-dark;
	border: 1px solid $gray-dark;
}

.content{
	@extend .container;
	img{
		@include img-responsive;
	}
}

/*.navbar-brand{
	.text-hide();
	background-image: url("/img/mearso-pen.gif");
	background-repeat: no-repeat;
	height: 90px; 
	width: 500px;
	.center-block();

}*/

body{
background-image: url("/img/pattern-white-grey.gif"); 
}


section{
	@include make-xs-column(6);
	@include make-sm-column(4);
	@include make-md-column(3);
}
// mixins for different viewport sizes


article,{
	@include make-xs-column(12);
	background-color: white;
}

.media{
	border-bottom: 1px solid $gray-lighter;

}


$panel-yellow-text:#333;
$panel-yellow-heading-bg: #F0D343;
$panel-yellow-border: #F0D343;




.img-circle{
	border:2px solid $gray-dark;
}


