$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "variables";
//@import "font-awesome";
@import "custom-bootstrap";
@import "cards";
//@import "weeknotes";
//@import "related";
//@import "speakers";

// body {
// 	// padding-top: 70px;
// 	background-image: url("/img/pattern-white-grey.gif");
// 	}


// .content{
// 	@extend .container;
// 	img{
// 		@include img-responsive;
// 	}
// }

.commons p {
	padding:1em 1em 0 0;
}

// section{
// 	@include make-xs-column(12);
// 	@include make-sm-column(4);
// 	@include make-md-column(3);
// 	img{
// 		@include size (100%, 100%)
// 	}
//
// }
// mixins for different viewport sizes
//
// article{
// 	@include make-xs-column(12);
// 	background-color: white;
//   margin-bottom: 1em;
//   padding-bottom: 1em;
//   ul{
//     @extend .list-unstyled !optional;
//   }
// }
//
// aside{
// 	@include make-xs-column(12);
// 	background-color: white;
// 	ul{
// 		@extend .list-unstyled !optional;
// 	}
//
// 	.bio-meta, .event-meta{
// 		@include make-sm-column(3);
// 	}
// 	.cc-meta{
// 		@include make-sm-column(6);
// 	}
// }

.media{
	border-bottom: 1px solid $gray-lighter;
}


// // blog page layout
//
// .blogposts{
// 		@include make-md-column(8);
// 		background-color: white;
// 	}
//
// 	aside.taglist {
// 		@include make-md-column(4);
// 		background-color: white;
// 	}
//
// caption{
// 	margin-bottom: 2em;
// 	color:tomato;
// }
