---
layout: book
title: Read in 2022
published: true
sitemap: true
---

<h2>Read in 2022</h2>


<ol class="watched">
	{% assign sorted = site.data.books.books2022 | reverse %} {% for book in sorted %}
	<li>

		<strong>

				{{ book.title }}
				{% if book.Subtitle %}
				: {{ book.Subtitle }}
				{% endif %}
			
		</strong>
		<em>{{ book.author }}</em> <br />
		
		{% if book.notes %}
			{{ book.notes }}
		{% endif %}

		{% if book.biblio %}
		<a href="{{ book.biblio }}">More Info</a>
		{% endif %}
	
	</li>
	{% endfor %}

</ol>


