---
layout: book
title: Read in 2021
published: true
sitemap: true
---

<h2>Read in 2021</h2>


<ol class="watched">
	{% assign sorted = site.data.books.books2021 %} {% for book in sorted %}
	<li>
	
		
		<strong>
			{% if book.amazon_link != null %}
			<a href="{{ book.amazon_link }}">
			{{ book.title }}
			</a>
			{% else %}
			{{ book.title }}
			{% endif %}
			
		</strong>
		<em>{{ book.author }}</em> <br />Finished: {{ book.date_finished | date: "%b %-d" }} 
		
		{% if book.notes %}
		<p>
			{{ book.notes }}
		</p>
		{% endif %}

		{% if book.biblio %}
		<p>
		<a href="{{ book.biblio }}">More Info</a>
		</p>
		{% endif %}
	
	</li>
	{% endfor %}

</ol>


