---
layout: page
title: Reading
published: true
sitemap: false
---

<h2>
	Read in 2018</h2>


<ol reversed class="watched">

	{% assign sorted = site.data.books.books2018 | reverse %} {% for book in sorted %}
	<li>


		<strong>{{ book.title }}</strong>
		<em>{{ book.author_1 }}</em> Finished: {{ book.date_finished | date: "%b %-d" }} {% if book.amazon_link != null %}
		<a href="{{ book.amazon_link }}">Amazon</a>{% endif %} {% if book.notes %}
		<p>
			{{ book.notes }}
		</p>
		{% endif %} {% if book.biblio %}
		<a href="{{ book.biblio }}">More Info</a>{% endif %}

	</li>
	{% endfor %}

</ol>


<h2>
	Read in 2017</h2>


<ol reversed class="watched">

	{% assign sorted = site.data.books.books2017 | reverse %} {% for book in sorted %}
	<li>


		<strong>{{ book.title }}</strong>
		<em>{{ book.author_1 }}</em> Finished: {{ book.date_finished | date: "%b %-d" }} {% if book.amazon_link != null %}
		<a href="{{ book.amazon_link }}">Amazon</a>{% endif %} {% if book.notes %}
		<p>
			{{ book.notes }}
		</p>
		{% endif %} {% if book.biblio %}
		<a href="{{ book.biblio }}">More Info</a>{% endif %}

	</li>
	{% endfor %}

</ol>

<div class="row">
	<h2>Finished in 2016</h2>

	<ol reversed class="watched">

		{% assign sorted = site.data.books.books2016 %} {% for book in sorted %}
		<li>
			{% if book.amazon != null %}

			<strong>
				<a href="{{ book.amazon }}">{{ book.title }}</a>
			</strong>
			<em>{{ book.author }}</em>

			{% else %}

			<strong>{{ book.title }}</strong>

			{% endif %} {% if book.notes %}
			<p>
				{{ book.notes }}
			</p>

			{% endif %}


		</li>
		{% endfor %}
		</ul>
</div>
