---
layout: default
meta: A collection of Weeknotes
invisible: 1
---

<header>
	<h1 class="post-category">
	 Weeknotes
 </h1>
</header>

 <h2>Season 05</h2>
 <ol reversed class="watched">

{% assign sorted = site.weeknotes | reverse %}
 {% for weeknote in sorted %}

	{% if weeknote.season == 5 %}
	<li>
	 <a href="{{ weeknote.url }}">
		 {{ weeknote.title | capitalize }}
	 </a>
	- {{ weeknote.date | date: "%e %b %Y" }}
	 </li>
	{% endif %}
	{% endfor %}
 </ol>



<h2>Season 04</h2>
 <ol reversed class="watched">

{% assign sorted = site.weeknotes | reverse %}
 {% for weeknote in sorted %}

	{% if weeknote.season == 4 %}
	<li>
	 <a href="{{ weeknote.url }}">
		 {{ weeknote.title | capitalize }}
	 </a>
	- {{ weeknote.date | date: "%e %b %Y" }}
	 </li>
	{% endif %}
	{% endfor %}
 </ol>



 <h2>Season 03</h2>
	<ol reversed class="watched">
	{% for weeknote in sorted %}

	 {% if weeknote.season == 3 %}
	 <li>
		<a href="{{ weeknote.url }}">
			{{ weeknote.title | capitalize }}
		</a>
	 - {{ weeknote.date | date: "%e %b %Y" }}
		</li>
	 {% endif %}
	 {% endfor %}
 </ol>

 <h2>Season 02</h2>
	 <ol reversed class="watched">
	 {% for weeknote in sorted %}

		{% if weeknote.season == 2 %}
		<li>
		 <a href="{{ weeknote.url }}">
			 {{ weeknote.title | capitalize }}
		 </a>
		- {{ weeknote.date | date: "%e %b %Y" }}
	 </li>
		{% endif %}
		{% endfor %}
	</ol>

<h2>Season 01</h2>
	<ol reversed class="watched">
	{% for weeknote in sorted %}

	 {% if weeknote.season == 1 %}
	 <li>
	 	<a href="{{ weeknote.url }}">
	 		{{ weeknote.title | capitalize }}
	 	</a>
	 - {{ weeknote.date | date: "%e %b %Y" }}
 	</li>
	 {% endif %}
	 {% endfor %}
 </ol>
