---
layout: default
meta: A collection of Weeknotes
invisible: 1
---

<header>
	<h1 class="post-category">
	 Weeknotes
 </h1>
</header>

	<ul class="list-unstyled">
	{% assign sorted_pages = (site.weeknotes | sort "date") %}
	{% for weeknote in sorted_pages %}
	{% if weeknote.invisible == null %}
		<li>
			<a href="{{ weeknote.url }}">
				{{ weeknote.title | capitalize }}
			</a>
			{% if weeknote.summary %}
			<strong>{{ weeknote.summary }}</strong>
			{% endif %}
			- 	{{ weeknote.date | date: "%e %b %Y" }}
		</li>
	{% endif %}

	{% endfor %}
