---
layout: book
title: Read in 2019
published: true
sitemap: true
---

<h2>Read in 2019</h2>

<ol class="watched">
	{% assign sorted = site.data.books.books2018 %}
	
	{% for book in sorted %}
	<li>
	
	
		<strong>{{ book.title }}</strong>
		<em>{{ book.author }}</em> Finished: {{ book.date_finished | date: "%b %-d" }} 
		
		{% if book.amazon_link != null %}
		<a href="{{ book.amazon_link }}">Amazon</a>{% endif %} {% if book.notes %}
		<p>
			{{ book.notes }}
		</p>
		{% endif %} {% if book.biblio %}
		<a href="{{ book.biblio }}">More Info</a>{% endif %}
	
	</li>
	{% endfor %}

</ol>
