---
layout: page
title: Watched in 2020
published: true
sitemap: false
---

<h2>Watched in 2021</h2>


<ol reversed class="watched">
	{% assign sorted = site.data.films2021 %}
	{% for film in sorted %}
		<li>
			<a href="https://boxd.it/{{ film.url }}"><strong>{{ film.title }}</strong></a> <em>{{ film.watched | date: "%b %-d" }} </em> - , {{ film.release }}  <em>{{ film.genre }}</em>{% if film.notes %}
			<br> {{ film.notes }} {% endif %}
			
		</li>
	{% endfor %}

</ol>

{% include films.html %}