---
layout: page
title: Watched
published: true
sitemap: false
---

<h2>Watched in 2016</h2>


<ol reversed class="watched">
	{% assign sorted = (site.data.watched | sort: 'date') | reverse %}
	{% for film in sorted %}
		<li>
			<em>{{ film.watched | date: "%B %-d" }} </em><strong>{{ film.title }}</strong> 

			{% if film.notes %}
				<br>
				{{ film.notes }}
			{% endif %}
			<br>
			<a href="https://www.themoviedb.org/movie/{{ film.tmdb_id }}">Lookup on The Movie Database</a> |
			<a type=amzn search="{{ film.title }}" category="dvd">Find on Amazon</a>
		</li>


	{% endfor %}

</ol>
0
