---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ content }}</p>

<h2>test - {{ site.logospotter.files}}</h2>

<div>

    {% if site.tags[page.tag] %}
    {% assign sorted_pages = (site.tags[page.tag] | sort: 'id') %}
    <ul class="taglist">
        {% for post in sorted_pages %}
            <a href="{{ post.url }}" class="img">
               <img src="/images/logospotter/thumbs/{{ post.image}}" alt="" />
           </a>
           {% endfor %}
       {% else %}
           <p>There are no posts for this tag.</p>
       {% endif %}
    </ul>
</div>
