---
layout: default
---
{% assign post = page %}

<article itemscope itemtype="http://schema.org/Article">

  <header>
    <h1 class="post-category">
     <a href="/{{ page.category }}">{{ page.category }}</a>
   </h1>

    {% include logospotter-posted.html %}

    <h2 itemprop="name" id="post-title">{{ post.title }}</h2>
  </header>

  <img itemprop="image" src="/images/{{ page.image}}" alt="{{ page.image }}" />

  <div id="post-content">
    <span itemprop="articleBody">
      {{ content }}
    </span>

  </div>

</article>

<!-- https://gist.github.com/johnfmorton/6c395361d259b23409ee6559fd909d5c -->

{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
  {% assign  document = site[the_collection] | sort: 'id'  %}
{% endif %}

{% for links in document %}
{% if forloop.first %}
	{% assign first = links %}
{% endif %}
{% if forloop.last %}
	{% assign last = links %}
{% endif %}
  {% if links.title == page.title %}
	{% unless forloop.first %}
		{% assign prevurl = prev.url %}
	{% endunless %}
	{% unless forloop.last %}
		{% assign next = document[forloop.index] %}
		{% assign nexturl = next.url %}
	{% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

{% assign firsturl = first.url %}
{% assign lasturl = last.url %}

{% if prevurl %}
<a href="{{prevurl}}" class="btn btn-default prev">Prev</a>{% else %}<a href="{{lasturl}}" class="btn btn-default prev">Prev</a>{% endif %}

{% if nexturl %}<a href="{{nexturl}}" class="btn btn-default nxt">Next</a>{% else %}<a href="{{firsturl}}" class="btn btn-default prev">Next</a>
{% endif %}
