---
layout: default
#using compress layout to take whitespace out
---

<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en" itemscope itemtype="http://schema.org/WebPage">


{% include head.html %}

<body class="custom">
  {% include tag_manager.html %}


    {% include sidebar.html %}

  <div class="container content">

      <main>
          {{ content }}
      </main>

      <footer class="footer">
          <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </small>
      </footer>


  </div>
  <!--/div container content -->

</body>

</html>
