---
layout: default
---

<!doctype html>

<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-GB" itemscope itemtype="http://schema.org/WebPage" class="no-js js-loading">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML in your document's head -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/new.css" />
    <link rel="preload" as="script" href="/public/js/toggle.js">

    <script>(e => e.className = e.className.replace('no-js', 'has-js'))(document.documentElement);</script>

    <title>
      {% if page.title == "Home" %}
        {{ site.title }} {{ site.tagline }}
      {% else %}
        {{ page.title }} | {{ site.tagline }}
      {% endif %}
    </title>

    <meta name="application-name" content="Personal Website of Kevin Mears">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/public/assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/public/assets/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json" />
    
</head>
    {% include google.html %}
<body>
    <div id="wrapper">

        <header>
        
          <div class="header">
        
            <a class="branding" href="/" title="{{ site.title }}">
              <span>{{ site.tagline }}</span>
            </a>
        
            <a class="navigation-toggle" href="#navigation" aria-label="Toggle navigation">
              <svg data-icon="true" aria-hidden="true" width="21" height="16" viewBox="0 0 21 16">
                <path d="M20.77 7v2h-20V7zM20.77 14v2h-20v-2zM.77 2V0h20v2z" />
              </svg>
            </a>
          </div>
        
          <nav class="navigation" id="navigation">
          
            <ul class="navigation-menu | mask-links">
              <li>
                <a href="/blog">Blog</a>
              </li>
              <li>
                <a href="/weeknotes">Weeknotes</a>
              </li>
              <li>
                <a href="/reading">Reading</a>
              </li>
              <li>
                <a href="/unilogos">Uni Logos</a>
              </li>
              <li>
                <a href="/pocketguide/">My book on Sketchnoting</a>
              </li>
            </ul>
          
          </nav>
        
        </header>

        <main>
            <div class="content">
              {% if page.type == 'home' %}
                <h1>{{ page.title }}</h1>
              {% endif %}
              
              {{ content }}
            </div>
        </main>


        <footer class="footer">

            <small>
                Website &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
              </small>
        </footer>

    </div>

    <script src="/public/js/toggle.js"></script>
    <script>(e => e.className = e.className.replace('js-loading', 'js-ready'))(document.documentElement);</script>


</body>

</html>