---
layout: default
---
{% assign post = page %}

<article itemscope itemtype="http://schema.org/Article">

  <header>
    <h1 class="post-category">
     <a href="/logospotter">Logospotter</a> Review
   </h1>
    <h2 itemprop="name" id="post-title">{{ post.title }}</h2>
  </header>




  <img itemprop="image" src="/images/logospotter/{{ page.image}}" alt="" />

  <div id="post-content">
    <span itemprop="articleBody">
      {{ content }}
    </span>

  {% include logospotter-posted.html %}

    {% if post.tags.size > 0 %}
        {% capture tags_content %}
          {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>
          {% else %}<i class="fa fa-tags"></i>
          {% endif %}:
        {% endcapture %}


        {% for post_tag in post.tags %}
            {% for data_tag in site.data.tags %}
                {% if data_tag.slug == post_tag %}
                    {% assign tag = data_tag %}
                {% endif %}
            {% endfor %}

            {% if tag %}
                {% capture tags_content_temp %}
                  {{ tags_content }} <a href="{{ site.baseurl }}/{{ tag.slug }}/">{{ tag.name }}</a>
                  {% if forloop.last == false %}, {% endif %}
                {% endcapture %}

                {% assign tags_content = tags_content_temp %}

            {% endif %}
        {% endfor %}
    {% else %}
        {% assign tags_content = '' %}
    {% endif %}

    <p id="post-meta">Tagged {{ tags_content }}</p>

    {% include logospotter-extras.html %}

  </div>

</article>

<!-- https://gist.github.com/johnfmorton/6c395361d259b23409ee6559fd909d5c -->

{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
  {% assign  document = site[the_collection] | sort: 'id'  %}
{% endif %}

{% for links in document %}
{% if forloop.first %}
	{% assign first = links %}
{% endif %}
{% if forloop.last %}
	{% assign last = links %}
{% endif %}
  {% if links.title == page.title %}
	{% unless forloop.first %}
		{% assign prevurl = prev.url %}
	{% endunless %}
	{% unless forloop.last %}
		{% assign next = document[forloop.index] %}
		{% assign nexturl = next.url %}
	{% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

{% assign firsturl = first.url %}
{% assign lasturl = last.url %}

{% if prevurl %}
<a href="{{prevurl}}" class="btn btn-default prev">Prev</a>{% else %}<a href="{{lasturl}}" class="btn btn-default prev">Prev</a>{% endif %}

{% if nexturl %}<a href="{{nexturl}}" class="btn btn-default nxt">Next</a>{% else %}<a href="{{firsturl}}" class="btn btn-default prev">Next</a>
{% endif %}
