---
layout: default
---


<div class="row">
	<article>
		<h1>{{ page.title }} </h1>

		<p class="meta">{{ page.date | date_to_string }}</p>
		
		{% if page.category %} 
			<p><a href="{{ site_url }}/{{ page.category }}">{{ page.category | capitalize }}</a>
			</p>
		{% endif %}
	
		
		{% if page.image %}
				<a href="{{ site.baseurl }}/images/{{ page.image }}"><img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.image-alt }}"></a>
	
			{% endif %}
			
				
		{{ content }}
    
    {% for bio in site.data.speakers limit %}
      {% if bio.twitter == page.speaker %}
      
        {{ bio.twitter }}
        <a href="{{ bio.url }}">Website</a>
        <a href="{{ bio.twitter }}">@{{ bio.twitter }}</a>
      
      {% endif %}
    {% endfor %}
    
		{% if page.reference %}
		<p><a href="{{ page.reference }}">More Info</a></p>
		{% endif %}
    
		{% if page.bio-twitter %}
		<p><a href="https://twitter.com/{{ page.bio-witter }}">@{{ page.bio-twitter }}</a></p>
		{% endif %}
	
	</article>
	

	
</div>

	<div class="row">
		<article class="related">
			{% for category_name in page.categories limit:1 %}
	    <h2>Other articles in <a href="/{{ category_name }}/">{{ category_name | capitalize }}</a></h2>
		 {% for post in site.categories[category_name] limit:4 %}
			<section class="related">
				{% include panel.html %}
		</section>
	{% endfor %}

		{% endfor %}
		</article>
</div>
