---
layout: default
---


<div class="row">
	<article>
		<h1>{{ page.title }}</h1>

		<p class="meta">{{ page.date | date_to_string }}</p>

    {% if page.tags %}

        <p>
          Tagged:
          {% for tag in page.tags %}<a href="{{ tag }}"> {{ tag | capitalize }} </a> {% endfor %}
        </p>

    {% endif %}

		{% if page.category %}
			 <p>Category: <a href="{{ site_url }}/{{ page.category }}">{{ page.category | capitalize }}</a></p>
		{% endif %}

    {% if page.image %}
    	<a href="{{ site.baseurl }}/images/{{ page.image }}"><img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.title }}"></a>
    {% endif %}

		{% if page.original %}
			<a href="{{ site.baseurl }}/images/{{ page.original }}">Large version for download</a>
		{% endif %}


		{{ content }}
	</article>
	<aside>
	  {% if page.code %}
		<div class="event-meta">
			<h3>About the Event</h3>
			<ul>
	      {% for info in site.data.events %}

	          {% if info.code == page.code %}
	            <li><a href="http://{{ info.event }}">Event Website</a></li>

	          {% if info.info %}
						{% for extra in info.info %}
	            <li> <a href="http://{{ extra }}">Event Info</a></li>
							{% endfor %}
	          {% endif %}

	          {% if info.video %}
	            <li><a href="http://{{ info.video }}">Event Video</a></li>
	          {% endif %}

						{% if info.lanyrd %}
							<li><a href="http://lanyrd.com{{ info.lanyrd }}">Lanyrd</a></li>
						{% endif %}

	          {% if info.slides %}
	            <li><a href="http://{{ info.slides }}">Slides</a></li>
	          {% endif %}

	        {% endif %}

	      {% endfor %}
			</ul>
	  </div>
		{% endif %}

	  {% for bio in site.data.speakers %}
	    {% if page.speaker %}
	      {% if bio.id == page.speaker %}
				<div class="bio-meta">
					<h3>About the Speaker</h3>
	        <ul>
	          {% if bio.url %}
	          	<li>Website <a href="http://{{ bio.url }}">{{ bio.url }}</a></li>
	        	{% endif %}
	          {% if bio.twitter %}
	          	<li>Twitter <a href="https://twitter.com/{{ bio.twitter }}">@{{ bio.twitter }}</a></li>
	        	{% endif %}
	        </ul>
				</div>
				{% endif %}
	    {% endif %}
	  {% endfor %}


		<div class='cc-meta'>
			{% if page.cc %}
			{% if page.cc == 'BY-SA' %}
				{% include CC_BY-SA.html %}
			{% endif %}

			{% if page.cc == 'BY-NC-SA' %}
				{% include CC_BY-NC-SA.html %}
			{% endif %}

			{% else %}
				{% include licence.html %}
			{% endif %}



		</div>

	</aside>



</div>

<div class="row">

	<article class="related">
			{% for category_name in page.categories limit:1 %}

	    <h2>Other articles in <a href="/{{ category_name }}/">{{ category_name | capitalize }}</a></h2>
      {% for post in site.categories[category_name] limit:4 %}
        <section class="related">
        	{% include panel.html %}
        </section>
      {% endfor %}

		{% endfor %}
	</article>

</div>
