---
layout: default
---
<article class="post">
	{% if page.category %}
	 <h1 class="post-category"><a href="{{ site_url }}/{{ page.category }}">{{ page.category | capitalize }}</a></h1>
	{% endif %}

	<h2 class="post-title">{{ page.title }}</h2>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>

	{% if page.tags %}
			<p>
				Tagged:
				{% for tag in page.tags %}<a href="{{ tag }}"> {{ tag | capitalize }} </a> {% endfor %}
			</p>
	{% else %}

	{% endif %}

	{% if page.image %}
		<a href="{{ site.baseurl }}/images{{ page.image }}"><img src="{{ site.baseurl }}/images{{ page.image }}" alt="{{ page.title }}"></a>
	{% endif %}

	{% if page.original %}
		<a href="{{ site.baseurl }}/images/{{ page.original }}">Large version for download</a>
	{% endif %}


	{{ content }}
</article>

<aside class="related">

		<div class="weeknotes">
				<ul>
					{% for post in site.categories.weeknotes limit:5  %}
					<li>
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | capitalize }}</a>
					</li>
					{% endfor %}
					<li><a href="/weeknotes">All weeknotes</a></li>
				</ul>
		</div>

</aside>

</div>
