---
layout: page
title: Watched in 2022
published: true
sitemap: false
---

<h2>Watched in 2022</h2>


<ol reversed class="watched">
	{% assign sorted = site.data.films2022 %}
	{% for film in sorted %}
		<li>
			<a href="https://boxd.it/{{ film.URL }}"><strong>{{ film.title }}</strong></a>, {{ film.release }} <em>Watched: {{ film.watched | date: "%b %-d" }} </em><em>{{ film.genre }}</em>{% if film.notes %}
			<br> {{ film.notes }} {% endif %}
			
		</li>
	{% endfor %}

</ol>

{% include films.html %}